@model DariTn.Models.Entities.FurnitureAdv

@{
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
    ViewBag.Title = "Details2";
}



<div>
    <br><br><br>
    <h3 class="color0" , style="color:crimson">Furniture Details: </h3>
    <hr />
    <dl class="dl-horizontal">

        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="sub-box">
                <img class="img-responsive" src="~/img/selling-img/meb.jpg" />
                <div class="sub-box-content">
                    <h4 style="color:cornflowerblue"> <a style="color:#000000; font-size:22px"> Ref: </a>@Html.DisplayFor(model => model.@ref)</h4>
                    <h4 style="color:cornflowerblue"> <a style="color:#000000; font-size:22px"> Name: </a> @Html.DisplayFor(model => model.name)</h4>
                    <h4 style="color:cornflowerblue"> <a style="color:#000000; font-size:22px"> Type: </a> @Html.DisplayFor(model => model.type)</h4>
                    <h4 style="color:cornflowerblue"> <a style="color:#000000; font-size:22px"> Price: </a>  @Html.DisplayFor(model => model.price) DT</h4>
                    <h4 style="color:cornflowerblue"> <a style="color:#000000; font-size:22px">  Description: </a> @Html.DisplayFor(model => model.description)</h4>
                    <h4 style="color:cornflowerblue"> <a style="color:#000000; font-size:22px">  Added Date: </a>  @Html.DisplayFor(model => model.addedDate)</h4>
                    <h4 style="color:cornflowerblue"> <a style="color:#000000; font-size:22px">  Accepted By Admin: </a>  @Html.DisplayFor(model => model.status)</h4>
                    <h4 style="color:cornflowerblue"> <a style="color:#000000; font-size:22px">  Available: </a>  @Html.DisplayFor(model => model.availability)</h4>
                    <h4 style="color:cornflowerblue"> <a style="color:#000000; font-size:22px">  Image: </a>  @Html.ActionLink("Download Image", "Show", new { id = Model.id }, null);</h4>

                    <button class="button button4"> @Html.ActionLink("  Back  ", "IndexAdmin")</button>
                    <button class="button button3"> @Html.ActionLink("Delete", "DeleteAdmin2", new { id = Model.id })</button>


                </div>
            </div>

        </div>
        <br>
        <br>
        <br><br>


      
    </dl>
</div>
            
