@model IEnumerable<DariTn.Models.Entities.FurnitureAdv>

@{
    ViewBag.Title = "Index";
}


@{ int idlogged = 3;}

<table class="table">
    <br>
    <br>
    <br>

    <h3 class="color0" , style="color:crimson">Furniture for sale: </h3>
    <br>


    <div id="selling" class="second-theme-selling">
        <div class="tab-content container-fluid">
            <div id="tab-villa" class="tab-pane active container">
                <form action="/FurnitureAdvs/Search" method="POST">
                    <div style="background-color:antiquewhite; width:25%;float:left;">
                        <div>
                            <div>
                                <h2>Search Option</h2>
                                <div class="row">

                                    <div class="col-xxs-12 col-xs-12">
                                        <section>
                                            <label for="class">Sort by:</label>
                                            <br />
                                            <button class="button button2"> @Html.ActionLink("Highest Price", "Index3")</button><br>
                                            <button class="button button2"> @Html.ActionLink("Lowest Price", "Index4")</button><br><br />
                                        </section>
                                    </div>

                                    <div class="col-xxs-12 col-xs-12">
                                        <div style="width:49%; ">
                                            <input type="checkbox" id="box1" name="checkBox1" value="true" onclick="terms_changed1(this)" />
                                            <label for="price">Price</label>
                                            <input type="text" class="form-control" name="price" id="price" placeholder="Price" disabled />
                                        </div>
                                    </div>

                                    <div class="col-xxs-12 col-xs-12">
                                        <div style="width:49%; ">
                                            <input type="checkbox" id="box2" name="checkBox2" value="true" onclick="terms_changed2(this)" />
                                            <label for="name">Name</label>
                                            <input type="text" class="form-control" name="name" id="name" placeholder="Name" disabled />
                                        </div>
                                    </div>
                                    <div class="col-xxs-12 col-xs-12">
                                        <div style="width:49%; ">
                                            <input type="checkbox" id="box3" name="checkBox3" value="true" onclick="terms_changed3(this)" />
                                            <label for="type">Type</label>
                                            <input type="text" class="form-control" name="type" id="type" placeholder="Type" disabled />
                                        </div>
                                    </div>

                                    <div class="col-xxs-12 col-xs-12 text-center">
                                        <br />
                                        <input type="submit" value="Search" id="ButtonSubmit" class="btn btn-primary btn-lg" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="map" style="background-image: url(~/img/home.jpg);">
                        </div>
                    </div>

                </form>

                <div class="row">

                    @foreach (var item in Model)
                    {


                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="sub-box">
                                <img class="img-responsive" src="img/selling-img/sel-img1.jpg" />
                                <div class="sub-box-content">
                                    <h5 style="color:#313030"> <a style="color:#000000; font-size:20px">Ref: </a> @Html.DisplayFor(modelItem => item.@ref)</h5>
                                    <h5 style="color:#313030"><a style="color:#000000; font-size:20px"> @Html.DisplayFor(modelItem => item.name): </a> @Html.DisplayFor(modelItem => item.description) </h5>
                                    <h5 style="color:#313030"> <a style="color:#000000; font-size:20px">Type: </a> @Html.DisplayFor(modelItem => item.type)</h5>
                                    <h5 style="color:crimson"><a style="color:#000000; font-size:20px"> Price: </a>  @Html.DisplayFor(modelItem => item.price) DT</h5>


                                    <button class="button button2"> @Html.ActionLink("Details", "Details", new { id = item.id })</button>

                                    @if (item.User.id == idlogged)
                                    {
                                        <button class="button button1"> @Html.ActionLink("Edit", "Edit", new { id = item.id })</button>
                                        <button class="button button3"> @Html.ActionLink("Delete", "Delete", new { id = item.id })</button>
                                    }
                                    else
                                    {
                                        <button class="button button1">@Html.ActionLink("Add to Basket.", "AddFurnitureToShoppingCart", new { id = item.id })</button>
                                    }

                                </div>
                            </div>
                        </div>



                    }
                </div>
            </div>
        </div>
    </div>

</table>
<script src="~/js/checkedWissal.js"></script>
<!-- jQuery-->
<script src="~/js/jquery.min.js"></script>
<!-- Bootstrap Core Javascript-->
<script src="~/bootstrap/js/bootstrap.min.js"></script>
<!-- Plugins -->
<script src="~/js/jquery.easing.min.js"></script>
<script src="~/js/fancybox.js"></script>
<script src="~/js/jquery.waypoints.min.js"></script>
<script src="~/js/progressbar.min.js"></script>
<script src="~/js/plugins.js"></script>
<script src="~/js/script.js"></script>
