@model IEnumerable<DariTn.Models.Entities.Bank>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>Formulas</th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                <table class="table">
                    <tr>
                        <th>Duration</th>
                        <th>Interest rate</th>
                        <th>Actions</th>
                    </tr>
                    @for (int i = 0; i < item.CreditFormulas.Count; i++)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.CreditFormulas.ElementAt(i).duration)</td>
                            <td>@Html.DisplayFor(modelItem => item.CreditFormulas.ElementAt(i).interestRate)</td>
                            <td>
                                @Html.ActionLink("Edit", "EditFormula", new { id = item.CreditFormulas.ElementAt(i).id }) |
                                @Html.ActionLink("Delete", "DeleteFormula", new { id = item.CreditFormulas.ElementAt(i).id })
                            </td>
                        </tr>
                    }
                </table>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id }) |
                @Html.ActionLink("New Formula", "AddFormula", new { id = item.id })
            </td>
        </tr>
    }

</table>
