@model IEnumerable<DariTN.Models.Entities.Complaint>

@{
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
    ViewBag.Title = "ComplaintRequests";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            Reference
        </th>
        <th>
            Description
        </th>
        <th>
            Status
        </th>
        <th>
            Creation Date
        </th>
        <th>
            Actions
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.@ref)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.description)
    </td>
    <td>
        
            <p style="color:red;">On Hold</p>
        
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.creationDate)
    </td>
    <td>
        @Html.ActionLink("Delete", "DeleteAdmin", new { id = item.id })
        @Html.ActionLink("Accept", "Accept", new { id = item.id })

    </td>
</tr>
    }

</table>