@model IEnumerable<DariTN.Models.Entities.Complaint>

@{
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
    ViewBag.Title = "ComplaintRequests";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            Référence
        </th>
        <th>
            Description
        </th>
        <th>
            Status
        </th>
        <th>
            Creation Date
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.@ref)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.creationDate)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
                <!-- @Html.ActionLink("Accept", "Accept", new { id = item.id }) -->

            </td>
        </tr>
    }

</table>