@model IEnumerable<DariTN.Models.Entities.Complaint>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <h3 class="color0" , style="color:crimson">My complaints: </h3>
</p>
<table class="table">
    <tr>
        <th>
            Reference
        </th>
        <th>
            Description
        </th>
        <th>
            Status
        </th>
        <th>
            Creation Date
        </th>
        <th>
            Actions
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.@ref)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @if (item.status.Equals(true))
            {
            <p style="color:green">Done</p>
            }
            else
            {
        <p style="color:red;">On Hold</p>
            }

         </td>
        <td>
            @Html.DisplayFor(modelItem => item.creationDate)
        </td>
        <td>
            @if (item.status.Equals(false))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) 
            }

            @Html.ActionLink("Delete", "Delete", new { id = item.id })
        </td>
    </tr>
}

</table>
