@model  DariTn.Models.Entities.AssetAdv

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<style>
    .boxed {
        border: groove;
        border-radius: 10px;
        border-color: red;
        margin: 50px;
    }
</style>
@Html.ActionLink("Back to browsing", "Index", routeValues: null, htmlAttributes: new { @class = "btn btn-success btn-lg" })
<div style="height:350px;">

    <div style="float:left" class="boxed">
        <h4>Information about Asset @Html.DisplayFor(model => model.@ref)</h4>
        <hr />
        <div>
            <div>
                <div>
                    <ul>
                        <li><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Reference: @Html.DisplayFor(model => model.@ref)</li>
                        <li><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Description: @Html.DisplayFor(model => model.description)</li>
                        <li><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Category: @Html.DisplayFor(model => model.category)</li>
                        <li><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Availability: @Html.DisplayFor(model => model.availability)</li>
                        <li><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Capacity: @Html.DisplayFor(model => model.capacity)</li>
                        <li><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;This asset is for @Html.DisplayFor(model => model.type)</li>
                        <li><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Surface: @Html.DisplayFor(model => model.surface) m²</li>
                        <li>
                            <i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Located in @Html.DisplayFor(model => model.street) street ,@Html.DisplayFor(model => model.city) city,
                            state of @Html.DisplayFor(model => model.state)
                        </li>
                        <li>
                            @if (Model.category.Equals("Apartment"))
                            {
                                <i class="fa fa-chevron-right"></i><i>&nbsp;&nbsp;It has @Html.DisplayFor(model => model.nbrRooms) rooms , @Html.DisplayFor(model => model.nbrBathrooms) bathrooms, and is located in floor number @Html.DisplayFor(model => model.floor) </i>

                            }
                            else if (Model.category.Equals("House") || (Model.category.Equals("Office")))
                            {
                                <i class="fa fa-chevron-right"></i><i>&nbsp;&nbsp;It has @Html.DisplayFor(model => model.nbrRooms) rooms , @Html.DisplayFor(model => model.nbrBathrooms) bathrooms, and @Html.DisplayFor(model => model.nbrFloor) floors</i>

                            }

                        </li>
                        <li>
                            @if (Model.furnished == true)
                            {
                                <i class="fa fa-chevron-right"></i><i>&nbsp; &nbsp; This is a furnished asset</i>
                            }
                            else
                            {
                                <i class="fa fa-chevron-right"></i><i>&nbsp; &nbsp; This is not a furnished asset</i>
                            }
                        </li>
                        <li>
                            @if (Model.garage == true)
                            {
                                <i class="fa fa-chevron-right"></i><i>&nbsp; &nbsp; This asset has a garage </i>
                            }
                            else
                            {
                                <i class="fa fa-chevron-right"></i><i>&nbsp; &nbsp; This asset has no garage </i>
                            }
                        </li>
                        <li>
                            @if (Model.parking == true)
                            {
                                <i class="fa fa-chevron-right"></i><i>&nbsp; &nbsp; This asset comes with a parking spot </i>
                            }
                            else
                            {
                                <i class="fa fa-chevron-right"></i><i>&nbsp; &nbsp; This asset does not have a parking spot</i>
                            }
                        </li>
                        <li>
                            @if (Model.pool == true)
                            {
                                <i class="fa fa-chevron-right"></i><i>&nbsp; &nbsp; This asset is equipped with a pool </i>
                            }
                            else
                            {
                                <i class="fa fa-chevron-right"></i><i>&nbsp; &nbsp; This asset does not have a pool </i>
                            }
                        </li>
                        <li><i class="fa fa-chevron-right"></i>&nbsp;&nbsp; This Asset has @Html.DisplayFor(model => model.media.Count) Media:  </li>

                        @foreach (var med in Model.media)
                        {
                            <b><br /> &nbsp; &nbsp;</b>
                            <i class="fa fa-chevron-right"></i>
                            @Html.DisplayFor(model => med.type)
                            <b> &nbsp; with the title &nbsp;</b>
                            @Html.DisplayFor(model => med.title)
                            <b>:</b>

                            @Html.ActionLink("Download", "Show", "Medias", new { id = med.id }, null);

                        }




                    </ul>
                    <p class="footer">
                        <span class="title">Price : </span><span class="label label-danger text-left">@Html.DisplayFor(model => model.price) DT</span>
                    </p>
                </div>
            </div>


            @if (Model.virtualTour == null)
            {
                <a style="color:red;border-radius:10px;border-color:blue;">There's no Virtual Tours</a>
            }
            else
            {
                @Html.ActionLink(linkText: "Virtual Tour", actionName: "Index", controllerName: "VirtualTours", routeValues: new { id = Model.id }, htmlAttributes: new { @class = "btn btn-primary btn-lg" })

            }

            @Html.ActionLink(linkText: "TimeSlots", actionName: "Index", controllerName: "TimeSlots", routeValues: new { id = Model.id }, htmlAttributes: new { @class = "btn btn-primary btn-lg" })

        </div>

    </div>
    <div style="float:left;" class="boxed" ;>

        @if (Model.localisation != null)
        {
            <style>
                #map {
                    height: 370px;
                    width: 450px;
                    border-radius: 2%;
                }

                html, body {
                    height: 100%;
                    margin: 0;
                    padding: 0;
                }
            </style>

            <div>


                <h4 style="color:orangered;">Asset's location:</h4>

                <div id="map"></div>
                <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3Y-n9oKUBy9he2U9aHF3a5R5MYGDXZJ4&callback=initMap&libraries=&v=weekly"
                        async>

                </script>

                <script>
            let map;

            var latit = @Html.Raw(Json.Encode(Model.localisation.latitude));
            var longti = @Html.Raw(Json.Encode(Model.localisation.longtitude));
            function initMap() {

                var myCenter = new google.maps.LatLng(latit, longti);
                var mapProp = { center: myCenter, zoom: 7, scrollwheel: false, draggable: true, mapTypeId: google.maps.MapTypeId.ROADMAP };
                map = new google.maps.Map(document.getElementById("map"), mapProp);
                var marker = new google.maps.Marker({ position: myCenter });
                marker.setMap(map);
            }
                </script>


            </div>
        }
        else
        {
            <i>GOOGLE MAPS' LOCATION NOT AVAILABLE</i>
        }


    </div>


</div>

