@model IEnumerable<DariTn.Models.Entities.AssetAdv>

@{
    ViewBag.Title = "Index";
}


@{ int idlogged = 1;}
<div id="selling" class="second-theme-selling">
    <div class="tab-content container-fluid">
        <p>
            @Html.ActionLink("Post Your Advertisement", "Create", null, new { @class = "btn btn-primary btn-lg" })
        </p>
        <div id="tab-villa" class="tab-pane active container">

            <form action="/AssetAdvs/Search" method="POST">
                <div style="background-color:antiquewhite; width:25%;float:left;">
                    <div>
                        <div>
                            <h2>Search Option</h2>
                            <div class="row">

                                <div class="col-xxs-12 col-xs-12">
                                    <section>
                                        <label for="class">Sort by:</label>
                                        <select class="cs-select cs-skin-border input-half" name="sort">
                                            <option value="0">Any</option>
                                            <option value="1">Highest Price</option>
                                            <option value="2">Lowest Price</option>
                                            <option value="3">Highest Surface</option>
                                            <option value="4">Lowest Surface</option>
                                        </select>
                                    </section>
                                </div>

                                <div class="col-xxs-12 col-xs-12">
                                    <div style="width:49%; ">
                                        <input type="checkbox" id="box1" name="checkBox1" value="true" onclick="terms_changed1(this)" />
                                        <label for="state">Price</label>
                                        <input type="text" class="form-control" name="price" id="price"  placeholder="Price" disabled />
                                    </div>
                                </div>

                                <div class="col-xxs-12 col-xs-12">
                                    <section>
                                        <br />
                                        <input type="checkbox" name="checkBox2" id="box2" value="true" onclick="terms_changed2(this)" />
                                        <label for="class">Category:</label>
                                        <select class="cs-select cs-skin-border" name="category" disabled id="categ">
                                            <option value="" disabled selected>Any</option>
                                            <option value="1">Apartment</option>
                                            <option value="2">Office</option>
                                            <option value="3">House</option>
                                            <option value="4">Land</option>
                                        </select>
                                    </section>
                                    <br />
                                </div>
                                <div class="col-xxs-12 col-xs-12">
                                    <div style="width:49%; ">
                                        <input type="checkbox" id="box3" name="checkBox3" value="true" onclick="terms_changed3(this)" />
                                        <label for="state">State</label>
                                        <input type="text" class="form-control" name="state" id="state" placeholder="State Name" disabled />
                                    </div>
                                </div>
                                <div class="col-xxs-12 col-xs-12">
                                    <div style="width:49%; ">
                                        <input type="checkbox" id="box4" name="checkBox4" value="true" onclick="terms_changed4(this)" />
                                        <label for="city">City</label>
                                        <input type="text" class="form-control" name="city" id="city" placeholder="City Name" disabled />
                                    </div>
                                </div>

                                <div class="col-xxs-12 col-xs-12">
                                    <div style="width:49%; ">
                                        <input type="checkbox" id="box5" name="checkBox5" value="true" onclick="terms_changed5(this)" />
                                        <label for="postal">Postal Code</label>
                                        <input type="text" class="form-control" name="postal" id="postal" placeholder="Postal Code Number" disabled />
                                    </div>
                                </div>

                                <div class="col-xxs-12 col-xs-12">
                                    <div style="width:49%; ">
                                        <input type="checkbox" id="box6" name="checkBox6" value="true" onclick="terms_changed6(this)" />
                                        <label for="nbrRooms">Number of Rooms</label>
                                        <input type="text" class="form-control" name="nbrRooms" id="nbrRooms" placeholder="Number of Rooms" disabled />
                                    </div>
                                </div>

                                <div class="col-xxs-12 col-xs-12">
                                    <section>
                                        <br />
                                        <input type="checkbox" id="box7" name="checkBox7" value="true" onclick="terms_changed7(this)" />


                                        <label for="class">Options:</label>
                                        <select class="cs-select cs-skin-border" name="option" disabled id="bools">
                                            <option value="" disabled selected>Any</option>
                                            <option value="1">Is Furnished</option>
                                            <option value="2">Has a Garage</option>
                                            <option value="3">Has a Parking Spot</option>
                                        </select>
                                    </section>
                                </div>


                                <div class="col-xxs-12 col-xs-12 text-center">
                                    <br />
                                    <input type="submit" value="Search" id="ButtonSubmit" class="btn btn-primary btn-lg" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="map" style="background-image: url(~/img/home.jpg);">
                    </div>
                </div>

            </form>

            <div class="row">
                @foreach (var item in Model)
                {

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="sub-box">
                            @if (item.category.Equals("Apartment"))
                            {
                                <img class="img-responsive" src="~/img/selling-img/apartment.jpg">
                            }
                            else if (item.category.Equals("House"))
                            {
                                <img class="img-responsive" src="~/img/selling-img/sel-img1.jpg">
                            }
                            else if (item.category.Equals("Office"))
                            {
                                <img class="img-responsive" src="~/img/selling-img/office.jpg">
                            }
                        <div class="sub-box-content">
                            <h5>@Html.DisplayFor(modelItem => item.category)</h5>
                            <p class="description text-muted">

                                @Html.DisplayFor(modelItem => item.description)
                            </p>
                            @Html.ActionLink("More Information", "Details", new { id = item.id }, new { @class = "infos" })
                            @Html.ActionLink("Complain", "AddComplaint", new { id = item.id }, new { @class = "infos" })


                            @if (item.localisation != null)
                            {
                                @Html.ActionLink("Location", "Index", "Localisations", new { id = item.id }, new { @class = "infos" })
                            }

                        </div>
                        </div>
                    </div>


                    <!-- house description-->
                    <div id="description" class="modal fade main-modal" tabindex="-1" aria-hidden="true">
                        <div class="container-fluid row">
                            <div class="modal-content col-xs-12 col-sm-6 col-sm-push-3">
                                <div class="modal-content-header">
                                    <i class="fa fa-times animation" data-dismiss="modal"></i>
                                </div>
                                <div class="modal-content-body">
                                    <div class="description">
                                        <h4>Asset Details</h4>
                                        <div class="box">
                                            <p>
                                                @Html.DisplayFor(modelItem => item.description)
                                            </p>
                                            <ul>
                                                <li><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;@Html.DisplayFor(modelItem => item.availability)</li>
                                                <li><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;@Html.DisplayFor(modelItem => item.category)</li>
                                                <li><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;@Html.DisplayFor(modelItem => item.surface) m²</li>
                                                <li><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;This asset is for @Html.DisplayFor(modelItem => item.type)</li>
                                            </ul>
                                            <p class="footer">
                                                <span class="title">Price</span><span class="label label-danger text-left">@Html.DisplayFor(modelItem => item.price)</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="map">
                                        <h4>House Address</h4>
                                        <p>Segbe, rue akato, Maison Don Peno</p>
                                        <div class="box">
                                            <div class="google-map"><i class="fa fa-map-marker"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End of house description-->
                    <!-- House Pictures-->
                    <div id="pictures" class="modal fade main-modal" tabindex="-1" aria-hidden="true">
                        <div class="container-fluid row">
                            <div class="modal-content col-xs-12 col-sm-8 col-sm-push-2">
                                <div class="modal-content-header">
                                    <i class="fa fa-times animation" data-dismiss="modal"></i>
                                </div>
                                <div class="modal-content-body">
                                    <div id="houses-pictures" class="carousel slide">
                                        <div class="carousel-inner">
                                            <div class="item active">
                                                <img class="img-responsive img-thumbnail" src="~/img/selling-img/sel-img1.jpg">
                                            </div>
                                            <div class="item">
                                                <img class="img-responsive img-thumbnail" src="~/img/selling-img/sel-img2.jpg">
                                            </div>
                                            <div class="item">
                                                <img class="img-responsive img-thumbnail" src="~/img/selling-img/sel-img3.jpg">
                                            </div>
                                            <div class="item">
                                                <img class="img-responsive img-thumbnail" src="~/img/selling-img/sel-img4.jpg">
                                            </div>
                                            <div class="item">
                                                <img class="img-responsive img-thumbnail" src="~/img/selling-img/sel-img5.jpg">
                                            </div>
                                            <div class="item">
                                                <img class="img-responsive img-thumbnail" src="~/img/selling-img/sel-img6.jpg">
                                            </div>
                                        </div>
                                        <a class="direction direction-left animation" href="#houses-pictures" data-slide="prev">
                                            <i class="fa fa-chevron-left"></i>
                                        </a>
                                        <a class="direction direction-right animation" href="#houses-pictures" data-slide="next">
                                            <i class="fa fa-chevron-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End of House Pictures-->
                }
            </div>
        </div>
    </div>
</div>
<script src="~/js/checkedSelim.js"></script>
<!-- End of Social Icons -->
<!-- jQuery-->
<script src="~/js/jquery.min.js"></script>
<!-- Bootstrap Core Javascript-->
<script src="~/bootstrap/js/bootstrap.min.js"></script>
<!-- Plugins -->
<script src="~/js/jquery.easing.min.js"></script>
<script src="~/js/fancybox.js"></script>
<script src="~/js/jquery.waypoints.min.js"></script>
<script src="~/js/progressbar.min.js"></script>
<script src="~/js/plugins.js"></script>
<script src="~/js/script.js"></script>