@model IEnumerable<DariTn.Models.Entities.AssetAdv>

@{
    ViewBag.Title = "Rent";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Rent</title>
</head>
<body>

    @{ int idlogged = 1;}
    <div id="selling" class="second-theme-selling">
        <div class="tab-content container-fluid">
            <div id="tab-villa" class="tab-pane active container">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="sub-box">
                                @if (item.category.Equals("Apartment")) {
                                <img class="img-responsive" src="~/img/selling-img/apartment.jpg">
                                } else if (item.category.Equals("House")) { 
                                <img class="img-responsive" src="~/img/selling-img/sel-img6.jpg">
                                } else if (item.category.Equals("Office")) { 
                                <img class="img-responsive" src="~/img/selling-img/office.jpg">
                                }
                            <div class="sub-box-content">
                                <h5>@Html.DisplayFor(modelItem => item.category)</h5>
                                <p class="description text-muted">

                                    @Html.DisplayFor(modelItem => item.description)
                                </p>

                                @Html.ActionLink("More Information", "Details", new { id = item.id }, new { @class = "infos" })
                                @Html.ActionLink("Complain", "AddComplaint", new { id = item.id }, new { @class = "infos" })
                                @if (item.localisation != null)
                                {
                                    @Html.ActionLink("Location", "Index", "Localisations", new { id = item.id }, new { @class = "infos" })
                                }

                            </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<!-- jQuery-->
<script src="~/js/jquery.min.js"></script>
<!-- Bootstrap Core Javascript-->
<script src="~/bootstrap/js/bootstrap.min.js"></script>
<!-- Plugins -->
<script src="~/js/jquery.easing.min.js"></script>
<script src="~/js/fancybox.js"></script>
<script src="~/js/jquery.waypoints.min.js"></script>
<script src="~/js/progressbar.min.js"></script>
<script src="~/js/plugins.js"></script>
<script src="~/js/script.js"></script>