@model IEnumerable<DariTn.Models.Entities.TimeSlots>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hdebut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hfin)
        </th>
        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.title)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.hdebut)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.hfin)
    </td>

=    <td>
        @Html.ActionLink(linkText: "AddRdv", actionName: "Create", controllerName: "Appointments", routeValues: new { id = item.id }, htmlAttributes: new { @class = "infos" })

    </td>
</tr>
    }

</table>
