@model DariTn.Models.Entities.ShoppingCart

@{
    ViewBag.Title = "Delete";
}


<div>
    <br><br><br>
    <h3 class="color0" , style="color:crimson"> Are you sure to delete this Furniture From Your ShoppingCart? </h3>
    <hr />
    <dl class="dl-horizontal">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="sub-box">
                <img class="img-responsive" src="img/selling-img/sel-img1.jpg" />
                <div class="sub-box-content">
                    <h4 style="color:cornflowerblue"> <a style="color:#000000; font-size:22px"> Ref: </a>@Html.DisplayFor(model => model.furniture.@ref)</h4>
                    <h4 style="color:cornflowerblue"> <a style="color:#000000; font-size:22px"> Name: </a> @Html.DisplayFor(model => model.furniture.name)</h4>
                    <h4 style="color:cornflowerblue"> <a style="color:#000000; font-size:22px"> Type: </a> @Html.DisplayFor(model => model.furniture.type)</h4>
                    <h4 style="color:cornflowerblue"> <a style="color:#000000; font-size:22px"> Price: </a>  @Html.DisplayFor(model => model.furniture.price) DT</h4>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <button class="button button3" value="Delete"> Delete From My ShoppingCart </button>
                        <button class="button button4"> @Html.ActionLink("  Back  ", "Index")</button>

                    }


                </div>
            </div>

        </div>
        <br>
        <br>
        <br>


    </dl>

</div>
