@model IEnumerable<DariTn.Models.Entities.ShoppingCart>

@{
    ViewBag.Title = "Index";
}

@{var p1 = 0.0; }
<table class="table">

    <br>
    <br>
    <br>
    <h3 class="color0" , style="color:crimson">  My ShoppingCart: </h3>
    <tr">
        <th>
            Furniture Reference
        </th>
        <th>
            Furniture Name
        </th>
        <th>
            Furniture Type
        </th>
        <th>
            Furniture Price
        </th>
        <th>
            Validate
        </th>
        <th>
            Delete
        </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.furniture.@ref)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.furniture.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.furniture.type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.totalPrice)
                </td>
                <td>
                    <button class="button button2">  @Html.ActionLink("Validate", "Create", new { idf = item.furniture.id , idu = item.User.id ,p = item.totalPrice} )</button>
                </td>
                <td>
                    <button class="button button3">  @Html.ActionLink("Delete", "Delete", new { id = item.id })</button>

                </td>
            </tr>


            p1 = p1 + (item.totalPrice);

        }

        <td> Total Price: </td>
        <td>
            <a style="color:red">  @Html.DisplayFor(modelItem => p1) </a>
        </td>



</table>

<button class="button button4"> @Html.ActionLink("  Back  ", "Index", "FurnitureAdvs")</button>
