<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DariTn</title>
    <link href="~/bootstrap/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/bootstrap/css/bootstrap-theme.css.map" />
    <link href="~/bootstrap/css/bootstrap-theme.min.css.map" />
    <link href="~/bootstrap/css/bootstrap.css.map" />
    <link href="~/AdminContent/css/style.css" rel="stylesheet" />
    <link href="~/bootstrap/css/bootstrap.min.css.map" />
    <link href="~/bootstrap/fonts/glyphicons-halflings-regular.woff" />
    <link href="~/bootstrap/fonts/glyphicons-halflings-regular.woff2" />
    <script src="~/bootstrap/js/bootstrap.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <link href="~/css/common-style.css" rel="stylesheet" />
    <link href="~/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/css/style_index.css" rel="stylesheet" />
    <link href="~/css/style_second_theme.css" rel="stylesheet" />
    <link href="~/css/style_third_theme.css" rel="stylesheet" />
    <script src="~/js/jquery.easing.js"></script>
    <script src="~/js/jquery.easing.min.js"></script>
    <script src="~/js/jquery.js"></script>
    <script src="~/js/jquery.magnific-popup.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/plugins.js"></script>
    <script src="~/js/progressbar.min.js"></script>
    <script src="~/js/script.js"></script>
    <script src="~/js/scrollreveal.js"></script>
    <script src="~/js/scrollreveal.min.js"></script>
    <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/font-awesome/fonts/fontawesome-webfont.eot" />
    <link href="~/font-awesome/fonts/fontawesome-webfont.ttf" />
    <link href="~/font-awesome/fonts/fontawesome-webfont.woff" />
    <link href="~/font-awesome/fonts/fontawesome-webfont.woff2" />
    <link href="~/font-awesome/fonts/FontAwesome.otf" />



</head>
<body id="page-top">

    <!-- Navigation Section-->
    <nav id="nav" class="container-fluid navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                <span>
                <img src="~/img/fedy-1.png" style="height:150%;"/>
                </span>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="toggle">
                <ul class="nav navbar-nav">
                    <li class="lBorder">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="nav-item dropdown">
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Properties
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                                <li> @Html.ActionLink("All Advertisements", "Index", "AssetAdvs")</li>
                                <li> @Html.ActionLink("Rent Advertisements", "Rent", "AssetAdvs")</li>
                                <li> @Html.ActionLink("Sale Advertisements", "Sale", "AssetAdvs")</li>
                                <li> @Html.ActionLink("My Advertisements", "MyAdvs", "AssetAdvs")</li>
                                <li> @Html.ActionLink("My Complaints", "Index", "Complaints")</li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                My Space
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                                <li> @Html.ActionLink("Ads based on your search history", "Target1", "AssetAdvs")</li>
                                <li> @Html.ActionLink("Ads based on your location", "Target2", "AssetAdvs")</li>
                                <li> @Html.ActionLink("Assets near you", "#", "#")</li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Furniture
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                                <li> @Html.ActionLink("Buy Furnitures", "Index", "FurnitureAdvs")</li>
                                <li> @Html.ActionLink("My ​​Furnitures", "Index2", "FurnitureAdvs")</li>
                                <li> @Html.ActionLink("Add Furnitures", "Create", "FurnitureAdvs")</li>
                                <li> @Html.ActionLink("My Orders", "Index", "Orders")</li>
                                <li> @Html.ActionLink("My ShoppingCart", "Index", "ShoppingCarts")</li>
                            </ul>
                        </div>
                    </li>
                    <li class="lBorder"><a class="page-scroll" href="#">Credits</a></li>
                    <li class="lBorder"><a class="page-scroll" href="#">Insurance</a></li>
                    <li class="lBorder"><a class="page-scroll" href="#">CONTACT</a></li>
                    <li class="lBorder">@Html.ActionLink("Register", "Login", "Account")</li>
                    <li class="lBorder">@Html.ActionLink("Login", "Login", "Account")</li>



                </ul>
            </div>
        </div>
        <!-- Search - start -->
        <div class="search-field">
            <a id="search-field-btn" class="search-field-btn" href="#"><i class="fa fa-search"></i></a>
            <form class="search-field-form">
                <input type="text" placeholder="Enter your search term...">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <!-- Search - end -->
    </nav>
    <!-- End of Navigation section-->



    <div class="container body-content">
        @RenderBody()
        @RenderSection("scripts", required: false)


    </div>




    <!-- Footer Section -->
    <footer>
        <div class="row container-fluid">
            <div class="container">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <h5><span>DariTn</span> REAL ESTATE</h5>
                    <ul>
                        <li><a class="page-scroll" href="#">Buy</a></li>
                        <li><a class="page-scroll" href="#">Rent</a></li>
                        <li><a class="page-scroll" href="#">Assets</a></li>
                        <li><a class="page-scroll" href="#">Fournitures</a></li>
                        <li><a class="page-scroll" href="#">Credits</a></li>
                        <li><a class="page-scroll" href="#">Insurance</a></li>
                        <li><a data-toggle="modal" href="#">Contact</a></li>

                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <h5>FOLLOW US</h5>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i> Google Plus</a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i> Linkedin</a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i> Instagram</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <h5>Our features</h5>
                    <ul>
                        <li><a href="#">Fournitures</a></li>
                        <li><a href="#">Credits</a></li>
                        <li><a href="#">Insurance</a></li>
                        <li><a href="#">Others</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <img src="~/img/fedy-1.png" style="width:100%"/>
                    <p>With us no more accommodation problems!</p>
                </div>
            </div>
        </div>
        <div class="footer-ending text-center">
            <p>&copy; developped by 5DEV 2021</p>
        </div>
    </footer>
    <!-- End of Footer Section -->
</body>
</html>
